/*
Copyright 2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance with the License. A copy of the License is located at

    http://aws.amazon.com/apache2.0/

or in the "license" file accompanying this file. This file is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
*/

/*

  Set CSS specific to the extension live configuration view in this file.

*/

:root {
	--section-color: #D7D7D7;
	--error-color: #FD1414;
}

body {
	min-height: 515px;
	margin: 15px 14px 15px 19px;
}

.header {
	min-height: 26px;
	position: relative;
	margin-bottom: 29px;
	/* white-space: nowrap; */
}

.extension-title {
	margin: 0;

	text-transform: uppercase;
	color: #ECECEC;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 16px;
}

.title-div, .status {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.status {
	position: relative;
  text-align: right;
  
  .online,
  .offline {
    display: none;
    height: 27px;

    &.active {
      display: block;
      opacity: 1;
		}
		
		span {
			text-transform: uppercase;
			vertical-align: middle;
		
			/* width: 94px; */
			/* height: 11px; */
			color: #FFF;
			/* font-family: Exo; */
			font-size: 8px;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 11px;
		}

		img {
			display: inline-block;
			vertical-align: middle;
		}
  }
}

.offline {
	&::after {
		content: '';
		height: 100%;
		width: 0%;
		display: inline-block;
		vertical-align: middle;
	}
	img {
		margin-left: 0.5rem;
	}
}

.jiffy-offline {
	margin: 0.5rem 0;
}

.section-title, .choice-label {
	display: block;
	margin-bottom: 5px;

	text-transform: uppercase;
	color: var(--section-color);
	font-size: 8px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 11px;

	&.hidden {
		display: none;
		pointer-events: none;
	}
}

.capsule-input {
	position: relative;
}

input {
	padding: 0 0.5rem;
}

select,
input,
div.ui.selection.dropdown {
	display: block;

	width: 100%;
	height: 35px;

	box-sizing: border-box;
	margin-bottom: 22px;

	transition: 300ms ease-out;
	border: none;
	border-radius: 8px;
	background: rgba(242,242,242,0.1);
	box-shadow: 0 0 7px 1px rgba(0,85,255,0);

	&.hidden {
		display: none;
	}
}

select:focus,
input:focus,
.jiffy-input .ui.selection.active.dropdown {
	border: 1px solid #0055FF;
	box-shadow: 0 0 7px 1px rgba(0,85,255,0.51);
}

div.ui.dropdown {
	padding-right: 1.5rem;

	.text {
		img {
			display: none !important;
		}
	}

	img {
		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0;

		margin-top: 0 !important;
		padding: 1px 2px;
		transform: translate(0, -50%);

		cursor: pointer;
		border: 1px solid white;
		border-radius: 100%;
	}

	.item {
		position: relative;
	}
}

.jiffy-input .ui.selection.dropdown .menu>.item {
	border-top: 1px solid #0055FF;
}

.jiffy-input .ui.dropdown>.text {
	vertical-align: middle;
}

.dropdown .text, .jiffy-input .ui.dropdown .menu>.item {
	color: #FFF;
	font-family: Exo, sans-serif;
}

.jiffy-input .ui.selection.visible.dropdown>.text:not(.default),
.jiffy-input .ui.dropdown .menu .selected.item,
.jiffy-input .ui.dropdown .menu>.item:hover,
.jiffy-input .dropdown.icon {
	color: #FFF;
}


.jiffy-input .ui.selection.active.dropdown:hover .menu,
.jiffy-input .ui.selection.active.dropdown,
.jiffy-input .ui.selection.active.dropdown .menu {
	border-color: #0055FF;
}

.jiffy-input .ui.dropdown .menu,
.jiffy-input .ui.dropdown.error>.menu>.item:hover {
	background: #1C1A21;
}

.save-info {
	display: block;
}

.slider {
	margin-bottom: 41px;
}

.input-checkmark,
.input-error-x {
	position: absolute;
	top: 50%;
	right: 12px;

	height: 16px;
	width: 16px;

	transform: translate(0, -50%);
	opacity: 1;
	transition: 300ms ease-out;
	border-radius: 100%;

	&.hidden {
    opacity: 0;
    display: block;
	}
	
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.input-error-x,
.error-x {
	/* display: inline-block; */
	background-color: #FD1414;
  box-shadow: 0 0 5px 1px #FD1414;
}

.input-checkmark,
.checkmark {
	background-color: #0055FF;
  box-shadow: 0 0 5px 1px #0055FF;
}

.save-area {
	// position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 1.5rem;
	
  .checkmark,
  .error-x {
		display: inline-flex;
		justify-content: center;

		height: 16px;
		width: 16px;
		margin-left: 1rem;

		opacity: 1;
		transition: 300ms ease-out;
		
		border-radius: 100%;

		&.hidden {
			opacity: 0;
		}
	}

}

.error,
.jiffy-input .ui.selection.dropdown.error {
	border: 1px solid var(--error-color);
}

.jiffy-input .ui.selection.dropdown.error {
	background: rgba(242,242,242,0.1);
}

.error-text {
	color: var(--error-color);
}

.footer {
  margin-top: 32px;
  
  span {
    font-size: 8px;
    line-height: 11px;
  }
}

@media screen and (max-width: 300px) {
	.title-div, .status {
		width: 100%;
		display: block;
		text-align: left;
	}
}
