/*!
 * Nice Engineering v1.1.0 
 */
/*

  Set CSS common to all extension views in this file.

*/
body {
  font: 12px arial, sans-serif; }

div {
  margin: 0px; }

.hidden {
  display: none;
  pointer-events: none; }

h1, h2, h3, h4, h5, span, th, td, p, a, label, input, select, option, button, li {
  color: #FFFFFF;
  font-family: Exo, sans-serif; }

a {
  color: #E70273;
  font-weight: 500;
  line-height: 24px; }

button {
  height: 26px;
  padding: 0 1rem;
  /* background: linear-gradient(322.03deg, #1864FD 0%, #4D88FF 100%); */
  background: #1864FD;
  transition: 300ms ease-out;
  box-shadow: 0 0 7px 3px rgba(0, 85, 255, 0.5);
  border: none;
  border-radius: 12.5px;
  color: #F1F1F1;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px; }
  button:hover {
    background: #004BE4; }

.slider {
  position: relative;
  height: 26px;
  width: 61px;
  cursor: pointer;
  transition: 300ms ease-out;
  border-radius: 12.5px;
  background: #4E4E4E;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
  .slider.active {
    background: #0055FF;
    box-shadow: inset 0 1px 3px 0 #001643; }
    .slider.active .circle {
      left: 95%;
      transform: translate(-100%, -50%); }
  .slider .circle {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    transition: 300ms ease-out;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0); }

select,
input,
button,
.ui.dropdown {
  outline: none;
  border: 1px solid transparent;
  box-sizing: border-box; }

select:disabled,
input:disabled {
  color: #666; }

/* EXO FONT */
/* vietnamese */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(fonts/yLc6huS_fBid07Zw3ojQjA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(fonts/J59yWLG3iwczjwZ63gnONw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(fonts/kA_pX0U45Eb7PbHijV1x2w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }
