/*!
 * Nice Engineering v1.1.0 
 */
/*

  Set CSS specific to the extension viewer view in this file.

*/
body {
  /*font: 12px arial, sans-serif;*/
  background-color: rgba(0, 0, 0, 0);
  margin: 0; }

th {
  text-align: left;
  font-weight: 500; }

.sr-overlay {
  width: 100%;
  height: 100vh;
  position: relative; }
  .sr-overlay.hover .ticker:not(.active) {
    opacity: 1; }
  .sr-overlay.hover .ticker.inactive {
    /* pointer-events: none; */
    cursor: default;
    opacity: 0.2; }

.ticker {
  position: absolute;
  left: 0;
  top: 50%;
  width: 55px;
  height: 58px;
  background: rgba(0, 0, 0, 0.43);
  border: 1px solid black;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.43);
  opacity: 0;
  -webkit-clip-path: polygon(100% 0, 100% 83%, 87% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 83%, 87% 100%, 0 100%, 0 0);
  transform: translate(0, -50%);
  transition: 300ms ease-out; }
  .ticker::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: -3px;
    width: 11px;
    height: 1px;
    border-top: 1px solid black;
    transform: rotate(-53deg); }
  .ticker:not(.inactive):hover {
    background: #1C1A21; }
  .ticker img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute; }
  .ticker.active {
    opacity: 0; }

.underlay {
  width: 100%;
  height: 100%;
  visibility: hidden; }
  .underlay.active {
    visibility: visible; }

.overlay {
  position: absolute;
  left: -100%;
  top: 50%;
  min-height: 316px;
  width: 500px;
  box-sizing: border-box;
  transform: translate(0, -50%);
  transition: 300ms ease-out; }
  .overlay.active {
    left: 0; }

.shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(3, 1, 8, 0.88);
  box-shadow: 1px 1px 1px 0.2px;
  -webkit-clip-path: polygon(100% 0, 100% 92%, 95% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 92%, 95% 100%, 0 100%, 0 0); }

.title-info {
  text-transform: uppercase;
  padding: 0 1.5rem;
  color: #ECECEC;
  font-family: Exo;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 16px; }

.time {
  position: relative;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border-bottom: 0.25px solid #49405C; }

.game-name {
  max-width: 18rem;
  color: #0055ff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 19px; }

.category {
  font-size: 12px;
  font-weight: 200;
  line-height: 16px; }

.subcategory {
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 13px; }

.top-half, .bottom {
  box-sizing: border-box;
  position: relative; }

.top-half {
  min-height: 147px;
  padding-top: 1.5rem;
  background: linear-gradient(90deg, #030109 30%, rgba(238, 238, 238, 0) 100%); }

.game-info {
  padding: 0 1.5rem; }

.game-art {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  z-index: -1; }

.bottom {
  width: 100%;
  z-index: 1;
  /* margin-top: -1rem; */
  padding: 0 1.5rem; }

.bottom ul, .title-row {
  margin: 0; }

.title-row {
  padding: 1.5rem 1.5rem 0.5rem;
  color: #D7D7D7;
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 3px;
  line-height: 11px;
  text-transform: uppercase;
  /* box-shadow: 5px 5px 5px rgb(1, 1, 1, 0.6); */
  background: linear-gradient(180deg, rgba(3, 2, 10, 0) 0%, #030109 100%); }

.subcategories {
  min-height: 1.5rem; }

li {
  display: inline-block; }

.title-row li:first-child,
.time li:first-child {
  /* padding-right: 3rem; */
  width: 15%; }

.title-row li:nth-child(2),
.time li:nth-child(2) {
  width: 30%; }

.title-row li:nth-child(3),
.time li:nth-child(3) {
  width: 30%; }

.title-row li:nth-child(4),
.time li:nth-child(4) {
  width: 20%; }

.rank, .runner-name, .run-time, .run-date {
  font-size: 12px; }

.rank, .broadcaster-place {
  /* height: 16px;
	width: 17px; */
  position: relative;
  font-weight: 300;
  line-height: 16px;
  padding-left: 0.4rem;
  box-sizing: border-box; }

.circle {
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #FF0066;
  box-shadow: 0 0 5px 1px #FF0066; }
  .circle.active {
    opacity: 1; }

.footer {
  position: relative;
  padding: 0.25rem 3rem 0.25rem 1.5rem; }
  .footer a {
    position: relative;
    cursor: pointer;
    transition: 300ms ease-out;
    font-weight: 600; }
    .footer a:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 0;
      transform: translate(-50%, 0);
      transition: 300ms ease-out;
      border-bottom: 1px solid #E70273; }
    .footer a:hover {
      color: #C1004D; }
      .footer a:hover:after {
        width: 100%;
        border-bottom-color: #C1004D; }

.pipe {
  color: #8C8C8C; }

.popup {
  position: absolute;
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: #4D4D4D;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transform: translate(-50%, 5%) scale(1, 1);
  transform: translate(-50%, 5%) scale(1, 1);
  transition: 300ms ease-out opacity;
  /* backface-visibility: hidden;
	-webkit-backface-visibility: hidden; */
  color: white;
  font-family: Exo, sans-serif;
  text-align: center;
  border-radius: 10px; }
  .popup::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #4D4D4D; }
  .popup.active {
    opacity: 1; }

.sr-link {
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0; }

.close-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1rem;
  right: 0.4rem;
  z-index: 2;
  transform: translate(0, -50%);
  transition: 300ms ease-out;
  text-align: center;
  background: rgba(1, 1, 1, 0.6); }
  .close-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle; }
  .close-icon:hover {
    transform: translate(0, -50%) rotate(90deg); }

@media screen and (max-width: 768px) {
  .sr-overlay {
    opacity: 0 !important;
    pointer-events: none; } }
